<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798909440357-ftan8mksdskjgjgkotdclhmauiklv743.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798909440357-ftan8mksdskjgjgkotdclhmauiklv743</string>
	<key>API_KEY</key>
	<string>AIzaSyCwzrxlFO_MvlzM57ZYtYpdgN4lrDKQ1Tk</string>
	<key>GCM_SENDER_ID</key>
	<string>798909440357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.esraanewsweetmarket</string>
	<key>PROJECT_ID</key>
	<string>sweetsshop-53501</string>
	<key>STORAGE_BUCKET</key>
	<string>sweetsshop-53501.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798909440357:ios:3b0c0a102f7ae432fb418c</string>
</dict>
</plist>